#main-title {
  margin-top: 25px;
  box-shadow: 0 0 1em 1em #ccc;
  text-align: center;
  color: white;
  background-color: lightslategrey
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
}
body {
  background-image: url("assets/background.jpg");
}
#output-box {
  border: 1px lightgrey solid;
  box-shadow: 0 0 1em 1em #ccc;
  position: relative;
  top: 150px;
  height: 600px;
  background-color: white;
  margin-top: -75px;
}
#output-box-2 {
  border: 1px lightgrey solid;
  box-shadow: 0 0 1em 1em #ccc;
  position: relative;
  top: 150px;
  height: 600px;
  background-color: white;
  margin-top: -75px;
  margin-left: 400px;
  width: 1000px;
}
#input {
  position: absolute;
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  bottom: 35px;
  width: 500px;
  left: 50px
}
#bob-main-img {
  position: absolute;
  right: 25px;
  height: 200px;
  top: 200px;
  margin-left: 50px;
  border: 1px #c9c9c9 solid;
  /* box-shadow: 0 0 1em 1em #c9c9c9; */
}
#sign-in-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
#help-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
#pop-up-container-timer {
  position: absolute;
  margin-left: -400px;
  margin-top: 100px;
  width : 250px;
  height: 400px;
  background-color: white;
  box-shadow: 0 0 1em 1em #ccc;
}
#pop-up-container2 {
  position: absolute;
  margin-top: 100px;
  margin-left: 1050px;
  width : 250px;
  height: 400px;
  background-color: white;
  box-shadow: 0 0 1em 1em #ccc;
  /* visibility: hidden; */
}
#pop-up-title {
  margin-left: 60px;
  margin-top: 15px;
}
#pop-text-username {
  margin-left: 5px;
  margin-top: 35px;
  display: inline-block;
}
#pop-text-password {
  margin-left: 5px;
  margin-top: 30px;
  display: inline-block;
}
#verify-sign-in-button {
  margin-left: 85px;
  margin-top: 10px;
}
#verify-sign-up-button {
  margin-left: 85px;
  margin-top: 10px;
}
#username-field {
  display: inline;
}
#username-input {
  width: 125px;
  display: inline;
  margin-left: 2px;
}
#username-input-signup {
  width: 125px;
  display: inline;
  margin-left: 5px;
}
#password-input {
  width: 125px;
  display: inline;
  margin-left: 5px;
}
#password-input-signup {
  width: 125px;
  display: inline;
  margin-left: 2px;
}
#needAccount {
  margin-left: 60px;
  margin-top: 40px;
}
#sign-up-button {
  margin-left: 85px;
}
#pop-up-text-timer {
  margin-left: 15px;
  font-size: 65px;
}
#pop-up-text-reminder {
  margin-left: 5px;
}
#pop-up-project {
  position: absolute;
  width: 800px;
  height: 800px;
  margin-left: -850px;
  margin-top: -50px;
  background-color: white;
  border: 1px lightgrey solid;
  box-shadow: 0 0 1em 1em #ccc;

}
#project-title {
  margin-left: 15px;
}
#proj-hours-text {
  margin-left: 5px;
}
#proj-hours {
  margin-left: 5px;
}
#todo-text {
  margin-left: 5px;
  margin-top: 15px;
  display: inline-block;
}
#todo {
  margin-left: 5px;
  margin-top: -590px;

}
#progress-text {
  margin-left: 5px;
  margin-top: 15px;
  display: inline-block;
  margin-left: 300px;
}
#progress {
  margin-left: 325px;
  margin-top: -100px
}
#proj-line {
  width: 3px;
  background-color: black;
  height: 665px;
  margin-left: 300px;
  margin-top: -72px;
}
hr {
    width: 800px;
    background-color: black;
    height: 8px;
}
.todoItem {
  font-size: 14px;
  margin-left: 20px;
  margin-top: -25px;
  position: absolute;
}
.show {
  visibility: visible;
}
.hide {
  visibility: hidden;
}
/* #output {
  position: absolute;
  margin-top: 25px;
  left: 10px;
} */
